.___select-caret-down-icon {
    right: 1.3em;
    position: absolute;
    top: 0.6em;
    padding-bottom: 0px !important;
}

.___select-all-options {
    position: absolute;
    /* width: 96%; */
    background-color: #fff;
    overflow-y: auto;
    /*height: 20rem;*/
    min-height: 2em !important;
    max-height: 20.40rem !important;
    border: 1px solid rgba(0, 0, 0, .125);
    /* list-style-type: none; */
    z-index: 2;
    padding-left: 0 !important;
}

.___select-all-options .list-group-item:last-child {
    border-bottom: none !important;
}

.list-group {
    margin-bottom: 0px !important;
}